<a href="/">Tous les sports</a>

<h1><%= @sportName %></h1>

<% @events.each do |event| %>
    <h2>Evénement : <%= event.name %></h2>

      <% matchs = event.matchs %> 
      <% matchs.each do |match| %>

        <%= match.name %><br />
        <table border="1">  
        <% if match.typeOfBet.match("Win") || match.typeOfBet.match("Rwi") %>
        <% teamsAndOdds = match.teamsAndOdds.sort {|odd1,odd2| odd1[1].odd.to_f <=> odd2[1].odd.to_f } %>
          <% teamsAndOdds.each do |teamAndOdd| %>
            <tr><td><%= teamAndOdd[0] %></td><td><a href="<%= request.fullpath %>/bet?id=<%= teamAndOdd[1].id %>"><%= teamAndOdd[1].odd %></a></td></tr>
          <% end %>
        <% else %>
          <tr>
            <% i = 0 %>
            <% match.teamsAndOdds.each do |teamAndOdd| %>
              <% if i == 0 %> 
                <td><%= teamAndOdd[0] %></td><td><a href="<%= request.fullpath %>/bet?id=<%= teamAndOdd[1].id %>"><%= teamAndOdd[1].odd %></a></td>
              <% end %>
              <% i = i +1 %>
            <% end %> 
            <% if match.oddNul %>
              <td><a href="<%= request.fullpath %>/bet?id=<%= match.oddNul.id %>"><%= match.oddNul.odd %></a></td>
            <% end %>
            <% i = 0 %>
            <% match.teamsAndOdds.each do |teamAndOdd| %>
              <% if i == 1 %> 
                <td><%= teamAndOdd[0] %></td><td><a href="<%= request.fullpath %>/bet?id=<%= teamAndOdd[1].id %>"><%= teamAndOdd[1].odd %></a></td>
              <% end %>
              <% i = i +1 %>
            <% end %> 
          </tr>          
        <% end %>
       </table>
      <% end %>
<% end %>
