<a href="/">Tous les sports</a>

<h1><%= @sportName %></h1>

<div class="accordion" id="accordion2">
  <% @numberCollapse = 0 %>

  <% @events.each do |event| %>
  
  <% @nameCollapse = "collapse" + @numberCollapse.to_s %>
  
  <div class="accordion-group" >
    <div class="accordion-heading">
      <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion2" href="#<%=@nameCollapse%>" >
        <h3><%= event.name %></h3>
      </a>
    </div>
    <div id="<%=@nameCollapse %>" class="accordion-body collapse" >
      <div class="accordion-inner">
        <% matchs = event.matchs %> 
        <% matchs.each do |match| %>

          <table class="table table-bordered">
          <% if match.typeOfBet.match("Win") || match.typeOfBet.match("Rwi") %>
          <% teamsAndOdds = match.teamsAndOdds.sort {|odd1,odd2| odd1[1].odd.to_f <=> odd2[1].odd.to_f } %>
            <% teamsAndOdds.each do |teamAndOdd| %>

              <tr><td><%= teamAndOdd[0] %></td><td><a href="<%= request.fullpath %>/bet?id=<%= teamAndOdd[1].id %>"><%= teamAndOdd[1].odd %></a></td></tr>
            <% end %>
          <% else %>
          <tr>
              <% i = 0 %>
              <% match.teamsAndOdds.each do |teamAndOdd| %>
              <% if i == 0 %> 
                  <% @Receveur = teamAndOdd %>
                  <% end %>
                <% i = i +1 %>
              <% end %> 
              <% if match.oddNul %>
                <% @matchNul = match.oddNul %>
              <% end %>
              <% i = 0 %>
              <% match.teamsAndOdds.each do |teamAndOdd| %>
                <% if i == 1 %>
                  <% @Visiteur = teamAndOdd %>
                <% end %>
                <% i = i +1 %>
              <% end %> 
              <thead>
                <th><%= @Receveur[0] %></th>
                <th>Match Nul</th>
                <th><%= @Visiteur[0] %></th>
              </thead>
              <tbody>
                <td><a href="<%= request.fullpath %>/bet?id=<%= @Receveur[1].id %>"><%= @Receveur[1].odd %></a></td>
                <% if @matchNul %>
                  <td><a href="<%= request.fullpath %>/bet?id=<%= @matchNul.id %>"><%= @matchNul.odd %></a></td>
                <% else %>
                  <td>/</td>
                <% end %>
                <td><a href="<%= request.fullpath %>/bet?id=<%= @Visiteur[1].id %>"><%= @Visiteur[1].odd %></a></td>
              </tbody>
            </tr>          
          <% end %>
         </table>
        <% end %>
      </div>
    </div>
        <% @numberCollapse = @numberCollapse + 1 %>
  <% end %>
</div>