<a href="/">Tous les sports</a>
<table style="border:1px solid;width:750px;margin:0 auto;">
	<tr>
		<th style="min-width:60px;border:1px solid;">Match</th>
		<th style="min-width:60px;border:1px solid;">Pronostique</th>
		<th style="min-width:60px;border:1px solid;">Cote</th>
		<th style="min-width:60px;border:1px solid;">Mise</th>
		<th style="min-width:60px;border:1px solid;">Gains potentiels</th>
	</tr>

	<% @lesParis.each do |lePari| %>
		<tr>
			<td style="border:1px solid;"><%= lePari.match %></td>
			<td style="border:1px solid;"><%= lePari.prono %></td>
			<td style="border:1px solid;"><%= lePari.cote %></td>
			<td style="border:1px solid;"><%= lePari.mise %></td>
			<td style="border:1px solid;"><%= lePari.gain %></td>
		</tr>
	<% end %>
</table>