<a href="/paris/<%= @sportName %>">Retour à la page <%= @sportName %></a>

<% if @bet.id != -1 %>
	<h2><%= @bet.eventName %></h2>
	<% @dateMatch = @bet.matchDate.split("-")%>
	<% @heureMatch = @bet.matchTime.split(":") %>
	<% @heureM = @heureMatch[0] %>
	<% @minuteM = @heureMatch[1] %>
	<% @anneeMatch = @dateMatch[0]%>
	<% @moisMatch = @dateMatch[1]%>
	<% @jourMatch = @dateMatch[2]%>
	<% @dateFinale = Date.new(@anneeMatch.to_i,@moisMatch.to_i,@jourMatch.to_i) %>

	<h3>Match : <%= @bet.matchName %></h3>
	Le <%= @dateFinale.strftime('%A %d %B %Y') %> à <%= @heureM %>h<% @minuteM %><br /><br />

	

	Votre pronostic : <%= @bet.teamName %> (<%= @bet.odd %>)

	<form class="form">
		Gains possibles : <span id="possible_winnings">NaN</span><br />
		Votre mise : <br />
		<div class="input-append">
		  <input class="span2" id="appendedInputButton" type="text" name="mise" value="1.00" onkeyup="calculatePossibleWinnings()" placeholder="Votre mise">
		  <button class="btn btn-primary" type="submit">Miser</button>
		</div>
	</form>
<% else %>
	PAGE D'ERREUR A AFFICHER ICI !!!
<% end %>

<script language="javascript"> 
	function calculatePossibleWinnings() {
		var value = document.getElementById("appendedInputButton").value;
		if( !isNaN(value) ) {
			var gains = value * <%= @bet.odd %>;
			document.getElementById("possible_winnings").innerHTML = gains + " €";
		}
		else {
			document.getElementById("possible_winnings").innerHTML = "Mise incorrecte ! La mise doit être un nombre";
		}
	}

	window.onload = function()
	{
		var value = document.getElementById("appendedInputButton").value;
		var gains = value * <%= @bet.odd %>;
		document.getElementById("possible_winnings").innerHTML = gains + " €";
	};
</script> 