<a href="/paris/<%= @sportName %>">Retour à la page <%= @sportName %></a>

<% if @bet.bet_id != -1 %>
	<h2><%= @bet.event_name %></h2>
	<% @dateMatch = @bet.start_date %>

	<h3>Match : <%= @bet.match_name %></h3>
	<h4>Le <%= @dateMatch.strftime("%d/%m/%Y") %> à <%= @dateMatch.strftime("%Hh%M") %></h4><br /><br />
	
	<%= form_tag('/mise')%>
		<legend>Votre pronostic : <%= @odd.name %> (<%= @odd.odd %>)</legend>
		<%= hidden_field_tag(:user_id, current_user.id) %>
		<%= hidden_field_tag(:bet_id, @odd.odd_id) %>
		<div class="input-append">
		  <%= text_field_tag(:appendedInputButton, 1.0, :class => 'span2', :name => 'mise', :placeholder => 'Votre mise', :onkeyup => 'calculatePossibleWinnings()') %>
		  <%= submit_tag("Miser", :class => 'btn btn-primary' ) %>
		</div>
		Gains possibles : <span id="possible_winnings">NaN</span>
<% else %>
	PAGE D'ERREUR A AFFICHER ICI !!!
<% end %>

<script language="javascript"> 
	function calculatePossibleWinnings() {
		var value = document.getElementById("appendedInputButton").value;
		if( !isNaN(value) ) {
			var gains = value * <%= @odd.odd %>;
			document.getElementById("possible_winnings").innerHTML = gains + " €";
		}
		else {
			document.getElementById("possible_winnings").innerHTML = "Mise incorrecte ! La mise doit être un nombre";
		}
	}

	window.onload = function()
	{
		var value = document.getElementById("appendedInputButton").value;
		var gains = value * <%= @odd.odd %>;
		document.getElementById("possible_winnings").innerHTML = gains + " €";
	};
</script> 