<a href="/paris/<%= @sportName %>">Retour à la page <%= @sportName %></a>

<% if @bet.bet_id != -1 %>
	<h2><%= @bet.event_name %></h2>
	<% @dateMatch = @bet.start_date.to_s.split("-")%>
	<% @heureMatch = @bet.start_time.to_s.split(":") %>
	<% @heureM = @heureMatch[0] %>
	<% @minuteM = @heureMatch[1] %>
	<% @anneeMatch = @dateMatch[0]%>
	<% @moisMatch = @dateMatch[1]%>
	<% @jourMatch = @dateMatch[2]%>
	<% @dateFinale = Date.new(@anneeMatch.to_i,@moisMatch.to_i,@jourMatch.to_i) %>

	<h3>Match : <%= @bet.match_name %></h3>
	<h4>Le <%= @dateFinale.strftime('%A %d %B %Y') %> à <%= @heureM %>h<% @minuteM %></h4><br /><br />

	<form >
		<legend>Votre pronostic : <%= @odd.name %> (<%= @odd.odd %>)</legend>
		
		<div class="input-append">
		  <input class="span2" id="appendedInputButton" type="text" name="mise" value="1.00" onkeyup="calculatePossibleWinnings()" placeholder="Votre mise">
		  <button class="btn btn-primary" type="submit">Miser</button>
		</div>
		Gains possibles : <span id="possible_winnings">NaN</span><br />
	</form>
<% else %>
	PAGE D'ERREUR A AFFICHER ICI !!!
<% end %>

<script language="javascript"> 
	function calculatePossibleWinnings() {
		var value = document.getElementById("appendedInputButton").value;
		if( !isNaN(value) ) {
			var gains = value * <%= @odd.odd %>;
			document.getElementById("possible_winnings").innerHTML = gains + " €";
		}
		else {
			document.getElementById("possible_winnings").innerHTML = "Mise incorrecte ! La mise doit être un nombre";
		}
	}

	window.onload = function()
	{
		var value = document.getElementById("appendedInputButton").value;
		var gains = value * <%= @odd.odd %>;
		document.getElementById("possible_winnings").innerHTML = gains + " €";
	};
</script> 